::-webkit-scrollbar {
    display: none;
}

/*div {
  outline: 1px solid red; 
}*/

body {
  background: url(../images/background.jpg);
  background-size: 100%, auto;
}


h2 {
  font-size: 20px; 
  text-align: center;
  color: black;
  margin-top: 10px;
  font-weight: bold;
}

span {
  background-color: white;
}

img {
 width: 100%;
}

code {
  max-width: 300px; 
  
}

pre {
  text-align: left;
  max-width: 300px; 
  display: block;
  margin-left: auto;
  margin-right: auto 
}

p {
  font-size: 16px;  
}

.hidden {
  display: none;
}

.qInfoDiv {
  font-size: 20px;  
  font-weight: bold;
}

.btn-primary {
  min-height: 50px;
}

.row {
  margin: 0;
  width: 100%;
}

#pollChart {
  height: 330px;
}

#mainRow{
  height: calc(100% - 42px)
}

#page-header {
  margin: 0;
}

#IMGcontainer {
  background-color: white;
}



code {
  white-space: pre;

}

#qDiv {
  padding-top: 10px;
}


#LLcontainer {
  height: auto;
}

#game {
  padding: 0;
  position: relative;
}

#choices {
  position: absolute;
  bottom: 0;
}